<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo  %></title>
  </head>
  <body>
 
    
    
    <%
    var txt = '<p>' + playersLists.lenght + '</p>';
    
    %>

    <%- txt %>


        





  </body>
</html>