<!DOCTYPE html>
<html>
    <head>
        <title><%= titulo  %></title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type = "text/css" href="stylesheets/style.css">
    </head>
    <body>
        <div class="center">
            <div class="row">
                <div class="column">
                    <img class="buscar-form__logo" src="images/logo.png" alt="Logo">
                </div>
                <div class="column">
                    <div class="titulo">
                        hello-docker ;) NBA<br/><br/>
                    </div>
                </div>
            </div>
        </div>

        <form class="buscar-form" action="/players" method="POST">
            <div class="buscar-form__content">
                <div class="buscar-form__header">Busqueda por campo</div>
                    <label for="campo">Campo:</label>
                    <select id="campo" type="text" class="buscar-form__input" name=campo>
                        <option value="0">Todo</option>
                        <option value="FULL_NAME">Nombre jugador</option>
                        <option value="TEAM">Equipo</option>
                        <option value="AGE">Edad</option>
                    </select>
                    <label for="valor">Valor:</label>
                    <input class="buscar-form__input" type="text" name="valor" placeholder="Ingrese valor">
                    <button class="buscar-form__button" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </body>
</html>
