@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');

/*CSS body*/
body {
  background: #0a3865;
  margin: 15px;
  margin-top: 50px;

}

.titulo {
  font-family: 'Faster One';
  font-size: 60px;
  color: white
}


a {
  color: #00B7FF;
}

input[type=submit] {
  background-color: #ac162d; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: grey;
}

input[type=text]:focus {
  border: 3px solid #ac162d;
}

.collapsible{
  background-color: #ac162d;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ac162d;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}


#tabla_nba {
  font-family: 'Roboto';
  border-collapse: collapse;
  width: 100%;
}

#tabla_nba td, #tabla_nba th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#tabla_nba tr:nth-child(2n+1){
  background-color: #f2f2f2;  
}

#tabla_nba tr:nth-child(2n){
  background-color: #f2f2f2;  
} 

#tabla_nba tr:hover {
  background-color: #ddd;  
}

#tabla_nba th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ac162d;
  color: white;
  font-family: 'Roboto'
}

label {
  font-family: 'Roboto';
  size: 22px;
}

h1 {
  font-family: 'Roboto';
  font-size: 36px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  font-family: 'Roboto';
  font-size: 16px;
  display: inline;
  color: white
}


/* CSS para busqueda*/

.buscar-form,
.buscar-form * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.buscar-form {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.buscar-form__logo-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.25);
}

.buscar-form__logo {
    display: block;
    max-width: 125px;
    margin: 0 auto;
}

.buscar-form__content {
    padding: 30px;
    background: #eeeeee;
}

.buscar-form__header {
    margin-bottom: 15px;
    text-align: center;
    color: #333333;
}

.buscar-form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.buscar-form__input:focus {
    border-color: #C9082A;
    border-radius: 5px;
}


.buscar-form__input::placeholder {
    color: #aaaaaa;
}

.buscar-form__button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #C9082A;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.buscar-form__button:active {
    background: #17408B;
}

.buscar-form__links {
    margin-top: 15px;
    text-align: center;
}

.buscar-form__link {
    font-size: 0.9em;
    color: #C9082A;
    text-decoration: none;
}


/**/
.column {
  float: left;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row {
  margin: 10px 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}